/.build/
/.activated
/.phpunit.result.cache
/.phpstan.cache
/node_modules/
/vendor/bin/
/vendor/phpstan/
/vendor/phpunit/
/vendor/sebastian/
/vendor/squizlabs/
/vendor/wp-coding-standards/
/vendor/szepeviktor/
